/* basic css setup */

body {
    background-color: #f9f9f9;
}

.heading {
    height: 24px;
    width: 500px;
    padding-top: 8px;
    padding-left: 20px;
    background: #f1f1f1;
    border-bottom: 2px solid #333;
}

.departure, .destination, .ticket {
    height: 26px;
    width: 500px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-left: 20px;
    background: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #eee;
    cursor: pointer;
}

.addTicket {
    height: 26px;
    width: 152px;
    padding-top: 8px;
    padding-left: 20px;
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #eee;
    cursor: pointer;
}

#totals {
    height: 26px;
    width: 140px;
    padding-top: 8px;
    padding-left: 20px;
    color: #090;
}